<!DOCTYPE html>
<html lang="ja">
<% include ../../../layout/_head %>
<body>
  <% include ../../../layout/_header %>
  <section>
    <h2>北海道の葬儀・葬式</h2>
    <h3>北海道の葬儀の風習</h3>
    <p>
        北海道の葬儀の風習として、南の一部の地域では最初が火葬、続いて通夜、翌日に葬儀、告別式を行います。それは以前、青函連絡船が台風にあい転覆して、多くの人が亡くなり火葬を急がなければならなかったことがあったので、それが定着した独自の風習の一説となっています。<br>
        <br>また北海道では、葬儀の受付で香典を出すと、目の前で中身を確認したうえで、名前が記入された領収書が発行されますが、北海道では常識となっているならわしになります。会葬御礼の品物も、図書カードなどの商品券を用いることから、合理的な道民性とも言われています。
    </p>
  </section>
  <% include ../../../layout/_footer %>
</body>
</html>
