<!DOCTYPE html>
<html lang="ja">
<% include template/_head %>
<body>
  <section id="all">
    <% include template/_header %>
  </section>
  <section>

  <div class="block  block--size_large">
    <div class="block  block--size_large">
        <div>block  block--size_large</div>
        <div>
            <span class="block__item block__item">
                block__item block__item
            </span><span class="block__item block__item--state_warning">
                block__item block__item--state_warning
            </span> 
        </div>   
    </div>
  

    <article>
      
      <button class="button button--size_large button--state_active">button state_active</button>
    
    </article>
    
    
    <article>
    
      <button class="button button--size_large button--state_inactive">button state_inactive</button>
    
    </article>
      

  </div>
  


  </section>
  <section id="footer">
    <% include template/_footer %>
  </section>
</body>
</html>
