<!DOCTYPE html>
<html lang="ja">
<% include template/layout/_head %>
<body>
  <% include template/layout/_header %>
  <section>
    <ul>
      <li><a href="area/hokkaido/index.html">/area/hokkaido</a></li>
      <li><a href="detail_co/id1275526605-394730.html">/detail_co/id1275526605-394730</a></li>
    </ul>
  </section>
  <% include template/layout/_footer %>
</body>
</html>
