<!DOCTYPE html>
<html lang="ja">
<% include template/_head %>
<body>
  <section id="all">
    <% include template/_header %>
  </section>
  <section>

  list page
  
  </section>
  <section id="footer">
    <% include template/_footer %>
  </section>
</body>
</html>
